

$primary: #111111;
// colors


$dark:                      #111111;
$gray-800:                  #333333;

$white:                     #ffffff;


// typography
$base:                        1rem;                   

$h1-font-size:                48px;
$h2-font-size:                40px;
$h3-font-size:                28px;
$h4-font-size:                22px;
$h5-font-size:                18px;


// nav
$navbar-padding-y:             $base * 1.5;
$navbar-padding-x:             $base * 0;



// avatar

$avatarWidth :                 311px;
$avatarHeight :                379px;
