
.avatar{
    width: calc(#{$avatarWidth} - 50px);
    height: calc(#{$avatarHeight} - 50px);
    position: relative;
    padding: 1rem;
    @include minOf(desktop){
        padding: 0;
        width: $avatarWidth;
        height: $avatarHeight;
        position: absolute;
        top: -1.8rem;
        right: 2.4rem;
        
    }
    img{
        width: 100%;
        filter: grayscale(1) brightness(1.3) saturate(.1);
        

    }

    &::before{
        content: '';
        display: block;
        width: calc(#{$avatarWidth} - 80px);
        height: calc(#{$avatarHeight} - 150px);
        position: absolute;
        top: 50%;
        left: 2.4rem;
        transform: translateY(-50%);
        background-color: $primary;
        
        @include minOf(desktop){
            width: $avatarWidth;
            height:  calc(#{$avatarHeight} / 1.2);

        }
    }
}