.socials{
    display: inline-grid;
    row-gap: .5rem;
    position: absolute;
    right: 3.5rem;
    top: 50%;
   
    &::before{
        content: '';
        height: 9rem;
        width: 1px;
        background-color: $gray-500;
        position: absolute;
        display: block;
        top: 4rem;
        left: 50%;
    }
    &::after{
        content: '';
        height: 9rem;
        width: 1px;
        background-color: $gray-500;
        position: absolute;
        display: block;
        bottom: 4rem;
        left: 50%;
    }
}